body {
    font-family: Verdana, sans-serif;
    text-align: center;
}

h1, h2 {
    font-size: 2em;
    margin: 0.1em;
}

label {
    margin-top: 10px;
}

.enrolForm {
    max-width: 500px;
    margin: 20px auto;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.enrolForm input[type="text"] {
    padding: 8px;
    margin: 5px 0px;
    border-radius: 5px;
    border: 1px solid #faa14e;
    font-family: inherit;
    font-weight: bold;
}

.enrolForm input[type="submit"] {
    margin-top: 15px;
    padding: 8px;
    border: none;
    border-radius: 5px;
    background-color: #faa14e;
    color: black;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
}

.enrolForm input[type="submit"]:hover {
    background-color: #fa973b;
}

.message {
    margin-top: 15px;
    color: #107c10;
    font-weight: 500;
}