.enrolList {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    padding: 0.5em;
    border-radius: 8px;
    border: 3px solid #faa14e;
}

.enrolList svg {
    font-size: 18px;
    transition: transform 0.15s ease, color 0.15s ease;
}

.enrolList svg:hover {
    transform: scale(1.2);
    color: #faa14e;
}